/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ----------------------------------- */
body {
  padding: 20px;
}

.top-icon {
  /* border: 1px solid black; */
  height: 24px;
  background: #eaeaeb;
}
.twitter {
  color: #1DA1F2;
}
.fb {
  color: #4267B2;
}
.icon :hover{
  color: blue;
  cursor: pointer;
}
.imgicon{
  height: 12px;
  width: 12px;
  vertical-align: text-top;
}
.icon {
  float: right;
  padding: 5px;
  /* border: 1px solid black; */
  font-size: 12px;
  width: 150px;
  text-align: center;
  
}
.swiper {
  width: 100%;
  height: 30%;
}
img {
  width: 100%;
  vertical-align: baseline;
}

.logo {
  width: 150px;
  height: 40px;
  float: left;
  /* border: 1px solid black; */
}
.menu {
  float: right;
}
.menu a {
  text-decoration: none;
  padding: 11px 0;
  background: #fff;
  /* border: 1px solid gray; */
  display: block;
  text-align: center;
  transition: all 0.3s;
  font-size: 16px;
  color: rgb(90, 214, 162);
}
.menu a:hover {
  border-bottom: 3px solid rgb(90, 214, 162);
}
.menu > li {
  width: 100px;
  float: left;
}
.menu ul {
  display: none;
  z-index: 2;
  position: absolute;
}
.products li {
  width: 100px;
}
.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  /* border: 1px solid black; */
}
.context {
  /* border: 1px solid black; */
  box-shadow: 2px 2px 5px rgb(221, 221, 221);
  width: 30%;
  height: 300px;
  text-align: center;
  padding: 20px;
  border-bottom: rgb(185, 185, 185);
  line-height: 25px;
  margin: 0px 15px;
  vertical-align: middle;
}
.contextimg {
  height: 50%;
  position: relative;
}
.course {
  height: auto;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.context h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.context p {
  text-align: justify;
  font-size: 14px;
}
.context ul {
  text-align: left ; 
  list-style: initial;
  padding-left: px;
  font-size: 14px;
  line-height: 20px;
  padding-left: 20px;
}
.context li {
  text-align: left;
  font-size: 14px;
}
.ultitle  {
  margin-left: -22px;
}

